:root {
  --main-text: "Roboto", sans-serif;
  --main-text-color: #757575;
  --title-color: #212121;
  --button-color: #2196f3;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --team-bg: #f5f4fa;
  --focus-hover: #188ce8;
  --color-icons: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.bg-box {
  background-color: var(--bg-color);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  max-width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features-list__title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .features-list__title {
    justify-content: center;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--button-color);
}

.logo {
  color: var(--button-color);
}

.navigation__logo,
.footer-address__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.navigation__logo {
  margin-right: 93px;
}

@media screen and (max-width: 767.98px) {
  .navigation__logo {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navigation__logo {
    margin-right: 80px;
  }
}

.footer-address__logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-address__logo {
    display: flex;
    justify-content: center;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.desktop.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.desktop@2x.jpg);
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.mobile.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img/hero/hero.tablet@2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .container__work {
    display: none;
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.work-list__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.main-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.button-block__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
  padding: 6px 22px;
  border: var(--team-bg);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__btn:focus, .button-block__btn:hover {
  color: var(--text-white-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__item:not(:last-child) {
  margin-right: 8px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background-color: var(--button-color);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--focus-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons--center {
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .social-icons {
    justify-content: center;
  }
}

.social-icons__items:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--focus-hover);
}

.social-icons__link:hover .social-icons__svg,
.social-icons__link:focus .social-icons__svg {
  fill: var(--text-white-color);
}

.social-icons__link .social-icons__svg {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link--fill .social-icons__svg {
  fill: var(--text-white-color);
}

.section--padding {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section--padding {
    padding: 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
  justify-content: center;
}

.features-list__item {
  width: 100%;
  margin-top: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-list__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-bg);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-block {
  padding: 30px 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-list__title {
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-bg {
  background-color: var(--team-bg);
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}

.clients__items {
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  margin-top: 30px;
  margin-right: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__items:hover {
  border: 1px solid var(--focus-hover);
}

@media screen and (min-width: 480px) {
  .clients__items {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__items {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__items {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--focus-hover);
}

.clients__logo {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
  display: inline-flex;
  margin-left: 0;
}

@media screen and (max-width: 767.98px) {
  .navigation-list--desktop {
    display: none;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;
  padding-top: 25px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list__link--current {
  color: var(--button-color);
}

.navigation-list__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

@media screen and (max-width: 767.98px) {
  .navigation-list__link {
    padding: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .navigation-link {
    display: none;
  }
}

.navigation-contact {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navigation-contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-contact:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navigation-contact {
    display: flex;
  }
}

.navigation-contact__icons {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  color: var(--text-white-color);
}

@media screen and (max-width: 767.98px) {
  .address > .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .address > .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-address__logo--color {
  color: var(--text-white-color);
}

.footer-address,
.footer-icon {
  align-self: baseline;
  flex-basis: calc((50% - 45px) / 2);
  margin-right: 30px;
}

@media screen and (max-width: 767.98px) {
  .footer-address,
  .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100%);
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-address,
  .footer-icon {
    flex-basis: calc(50%);
    margin: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

.address__link {
  color: var(--address-footer-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.98px) {
  .footer__text {
    display: flex;
    justify-content: center;
  }
}

.footer-form {
  align-self: baseline;
  flex-basis: calc(50% - 15px);
}

@media screen and (max-width: 1199.98px) {
  .footer-form {
    margin-top: 60px;
    flex-basis: calc(100%);
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-form__item input {
  width: 450px;
  height: 50px;
  margin-right: 8px;
  background-color: var(--bg-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--text-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 479.98px) {
  .footer-form__item input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__item input {
    width: 358px;
  }
}

.footer-form__item > input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__item > button,
.modal__form > button {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.footer-form__item > button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__item > button:hover {
  background-color: var(--focus-hover);
}

.footer-form__item > button > span {
  margin-right: 10px;
}

@media screen and (max-width: 1199.98px) {
  .footer-form__item > button {
    margin-top: 20px;
  }
}

.portfolio {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio--padding {
    padding-bottom: 50px;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
}

.button-block__list,
.content-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-list {
    justify-content: start;
  }
}

.button-block__list {
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .button-block__list {
    justify-content: start;
  }
}

.content-list {
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.content__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .content__item {
    flex-basis: calc((100% - 60px) / 2);
    justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .content__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.content__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__link:hover, .content__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__item:nth-child(1) {
    border: 1px solid #eeeeee;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (max-width: 767.98px) {
  .thumb__text {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}

.content__link:hover .thumb__text,
.content__link:focus .thumb__text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479.98px) {
  .modal {
    width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__form > label {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__form label input,
.modal__form label textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form label input:focus,
.modal__form label textarea:focus {
  outline-color: var(--button-color);
}

.modal__form label textarea {
  padding: 12px 16px;
}

.modal__form label:hover input,
.modal__form label:hover textarea {
  border-color: var(--button-color);
}

.modal__form label input {
  height: 40px;
  padding-left: 40px;
}

.modal__form label textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

.modal__form label textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-svg {
  position: absolute;
  left: 16px;
  bottom: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form input:hover + .modal__label-svg,
.modal__form input:focus + .modal__label-svg {
  fill: var(--button-color);
}

.modal__form > button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.modal__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 1199.98px) {
  .modal__title {
    line-height: 1.5;
  }
}

.modal__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox a {
  margin-left: 3px;
  color: var(--button-color);
  text-decoration: underline;
}

@media screen and (max-width: 1199.98px) {
  .checkbox {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  flex-direction: inherit;
}

.checkbox__label > input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox__label > input + svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label > input:focus + svg,
.checkbox__label > input:hover + svg {
  fill: var(--button-color);
}

.checkbox__label > input:checked + svg {
  background-image: url(../image/icon-check.svg);
  fill: var(--button-color);
}

.checkbox__label-svg {
  margin-right: 8px;
}

.modal__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  background-color: var(--focus-hover);
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--button-color);
}

.header-mobile-menu {
  position: relative;
  z-index: 51;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-mobile-menu {
    display: none;
  }
}

.is-open .header-mobile-menu_open {
  display: none;
}

.is-open .header-mobile-menu_close {
  display: block;
}

.header-mobile-menu_close {
  display: none;
}

.header-mobile-menu:hover,
.header-mobile-menu:focus {
  fill: var(--button-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 50;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-color: var(--text-white-color);
}

.mobile-menu > .navigation-list {
  flex-direction: column;
}

.mobile-menu > .navigation-list > .navigation-list__item {
  font-size: 40px;
  line-height: 1.175;
}

.mobile-menu.is-open {
  left: 0;
}

.navigation-list__item--margin {
  margin-bottom: 30px;
}

.navigation-contact--margin {
  margin-bottom: 30px;
  color: var(--button-color);
}

.navigation-contact--text {
  font-size: 24px;
  line-height: 1.16;
}

.mobile-menu_contact {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
}

.mobile-menu_contact > a {
  display: block;
}

.mobile-menu_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 65px;
}

.mobile-menu_list > li:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu_social-link {
  text-decoration: none;
  color: var(--button-color);
}
/*# sourceMappingURL=style.css.map */