.navigation-list {
  display: inline-flex;
  margin-left: 0;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;
  padding-top: 25px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  
  &--current {
    color: var(--button-color);
  }
  
  &--current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}



.navigation-contact {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-contact__icons {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
