.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;

  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.content__link:hover .thumb__text,
.content__link:focus .thumb__text {
  transform: translateY(0);
}
