.social-icons {
  display: flex;
  align-items: center;

  &--center {
    justify-content: center;
  }
}

.social-icons__items:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    background-color: var(--focus-hover);
  }
  
  &:hover .social-icons__svg,
  &:focus .social-icons__svg {
    fill: var(--text-white-color);
  }
  
  & .social-icons__svg {
    fill: var(--color-icons);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &--fill .social-icons__svg {
    fill: var(--text-white-color);
  }
}




