.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  max-width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.work-list__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.main-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
