:root {
  --main-text: "Roboto", sans-serif;
  --main-text-color: #757575;
  --title-color: #212121;
  --button-color: #2196f3;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --team-bg: #f5f4fa;
  --focus-hover: #188ce8;
  --color-icons: #afb1b8;
}
